@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
  background: #012540;
  color: #fff;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #735eee;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
  
 
                                  /*   section  */
 .section{
    padding: 160px 15% 120px;
 }
.home{
    width:100% ;
    position: relative;
    height:100vh ;
    display: flex;
    align-items: center;
  
    padding: 70px 10% 170px;

}
.slide{
  margin-bottom: 20px;
}
.one{
  margin-right: 15px;
  display: inline-block;
  padding: 0 15px;
  line-height: 32px;
  font-size: 35px;
  font-weight: 500;
  border-radius: 5px;
  background: rgb(98, 98, 243);
  color: #fff;

}
.two{
  display: inline-block;
  color: aqua;
  font-size: 30px;
  font-weight: 500;
}
.home-content h1{
  font-size: 50px;
  font-weight: 700px;
  margin: 0 0 8px;
}
.home-content h3 {
  font-size: 30px;
  font-weight: 700;
  }
.home-content p {
    font-size: 18px;
}
.home-content span{
  color: aqua;
}
.home-content{
  max-width: 500px;
  
}

.btn{
  padding: 5px;

  letter-spacing: 1px;
 font-size: 22px;
  background-color: yellowgreen;
  color: #fff;
  font-weight: 800;
  border-radius: 5px;
  text-decoration: none;

}
.about{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2 , 1fr);
  gap: 1.5rem;
}
.about-img img{

  max-width: 500px;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}
.about-text{
  max-width: 500px;
}
.about-text h2{
  font-size: 45px;
  line-height: 1px;
}
.about-text h3{
  font-size: 24px;
  color: orange;
  font-weight: 600;
  margin: 15px 0px 30px;
  line-height: 2;
}
.about-text p{
  color: #fff;
  font-size:18px ;
  line-height: 1.5;
  
}